@define-color on_surface #e1e2e8;
@define-color surface_container #1d2024;
@define-color primary #a0cafd;
@define-color primary_fixed #d1e4ff;
@define-color warning #bbc7db;
@define-color error #ffb4ab;
